<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrierung bestätigen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <form method="POST" action="{{ url_for('confirmation.confirm_email') }}">

            <img
              class="logo"
              src="https://ksrminecraft.ch/assets/media/logos/logotransparentrechteck.png"
              alt="KSR Minecraft Logo"
            >

            <h1>Registrierung bestätigen</h1>

            <p class="card-text" style="margin-bottom:6px;">
                Registrierung bestätigen für
            </p>

            <p class="card-text" style="margin-top:0; margin-bottom:14px;">
                <strong style="color:#9be29b; font-weight:800;">
                    {{ email }}
                </strong>
            </p>

            <p class="card-text" style="margin-bottom:0;">
                Hallo {{ firstname|default("Spieler", true) }},
            </p>

            <p class="card-text" style="margin:0;">
                fast geschafft.
            </p>

            <p class="card-text" style="margin-top:0; margin-bottom:14px;">
                Nur noch ein Klick.
            </p>

            <p class="card-text" style="margin:0;">
                Bitte bestätige deine Registrierung für den
            </p>
            <p class="card-text" style="margin-top:0;">
                <strong>KSR-Minecraft-Server.</strong>
            </p>

            <input type="hidden" name="token" value="{{ token }}">
            <input type="submit" value="Jetzt bestätigen">
        </form>
    </div>
</body>
</html>
