<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kriterien erfüllt</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <form>

      <div class="center-text" style="margin-bottom: 14px;">
        <img
          src="https://ksrminecraft.ch/assets/media/logos/logotransparentrechteck.png"
          alt="KSR Minecraft Logo"
          style="display:block; margin: 0 auto; max-width: 220px; width: 60%; height: auto;"
        >
      </div>

      <h1 style="line-height:1.12; margin-bottom: 12px;">
        Kriterien erfüllt
      </h1>

      <p class="center-text" style="margin: 0 0 10px 0;">
        Hallo <strong>{{ firstname|default("Spieler", true) }}</strong>,
      </p>

      <p class="center-text" style="margin: 0 0 14px 0;">
        gratulation, du erfüllst sämtliche Kriterien um auf unserem Server zu joinen.
      </p>

      <p class="center-text" style="margin: 0 0 6px 0;">
        Wir haben dir auf
      </p>

      <p class="center-text" style="margin: 0 0 14px 0;">
      <strong style="color:#9be29b; font-style: italic;">
      {{ email|default("deine sluz-Adresse", true) }}
        </strong>
      </p>

      <p class="center-text" style="margin: 0 0 14px 0;">
        einen Bestätigungslink geschickt.
      </p>

      <p class="center-text" style="margin: 0 0 6px 0;">
        Bitte überprüfe dein Postfach, ja und auch dein Spam-Ordner.
      </p>

      <p class="center-text" style="margin: 0; font-style: italic;">
      Es kann bis zu 5 Minuten dauern, bis die Nachricht bei dir angekommen ist.
    </p>

    </form>
  </div>
</body>
</html>
